@model ClasificacionPeliculas.Models.Movie

@{
    ViewData["Title"] = "Detalles de la película";
}

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">@ViewData["Title"]</div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Title)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Title)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ReleaseDate)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ReleaseDate)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Duration)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Duration)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Director)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Director)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Actors)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Actors)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Plot)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Plot)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Rating)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Rating)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.Votes)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.Votes)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.PosterUrl)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.PosterUrl)
                        </dd>
                        <dt class="col-sm-2">
                            @Html.DisplayNameFor(model => model.ImdbId)
                        </dt>
                        <dd class="col-sm-10">
                            @Html.DisplayFor(model => model.ImdbId)
                        </dd>
                    </dl>
                </div>
                <div class="card-footer">
                    <a asp-action="Index" class="btn btn-danger">Regresar</a>
                </div>
            </div>
        </div>
    </div>
</section>

