@model IEnumerable<StoreModels.Models.mProduct>

@{
    ViewData["Title"] = "Product Panel";
}

<div class="row">
    <div class="col-6">
        <div class="pagetitle">
            <h1>@ViewData["Title"]</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Components</li>
                    <li class="breadcrumb-item active">Breadcrumbs</li>
                </ol>
            </nav>
        </div><!-- End Breadcrumbs with a page title -->
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Product" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-square-fill"></i>
            &nbsp; Add Product
        </a>
        <a asp-controller="Product" asp-action="Details" class="btn btn-success">
            <i class="bi bi-plus-square-fill"></i>
            &nbsp; OJO
        </a>
    </div>
</div>


<table id="tblData" class="table table-sm">
    <thead>
        <tr>
            @* <th scope="col">
            @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th scope="col">
            @Html.DisplayNameFor(model => model.ProductSubCategoryId)
            </th>*@
            <th scope="col">
                Image
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Specifications)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ListPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.StandarCost)
            </th>
            <th scope="col">
                Available
            </th>
            @* <th scope="col">
            @Html.DisplayNameFor(model => model.SellStartDate)
            </th>
            <th scope="col">
            @Html.DisplayNameFor(model => model.SellEndDate)
            </th>*@
            @*<th scope="col">
            @Html.DisplayNameFor(model => model.LowStock)
            </th>
            <th scope="col">
            @Html.DisplayNameFor(model => model.ActiveFlag)
            </th>*@
            <th scope="col">
                Observations
            </th>
            @*            <th scope="col">
            @Html.DisplayNameFor(model => model.ImagePath)
            </th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
            @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ProductSubCategoryId)
            </td>*@
                <th scope="row" class="p-2"><a href="@item.ImagePath"><img src='@item.ImagePath' alt="" height="150" width="150"></a></th>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="small">
                    @Html.DisplayFor(modelItem => item.Specifications)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.ListPrice)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.StandarCost)
                </td>
                <td>
                    From: &nbsp; @item.SellStartDate.ToString("dd/MM/yyyy")
                    <br>
                    To: &nbsp; @item.SellEndDate.ToString("dd/MM/yyyy")
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.SellStartDate)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.SellEndDate)
            </td>*@
                @* <td>
            @Html.DisplayFor(modelItem => item.LowStock)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.ActiveFlag)
            </td>*@
                <td>
                    @if (item.ActiveFlag != null && item.LowStock != null)
                    {
                        if (Convert.ToBoolean(item.ActiveFlag))
                        {
                            <span class="badge bg-success">Active</span>
                        }
                        else
                        {
                            <span class="badge bg-danger">Inactive</span>
                        }

                        if (!Convert.ToBoolean(item.LowStock))
                        {
                            <span class="badge bg-primary">Enough Stock</span>
                        }
                        else
                        {
                            <span class="badge bg-warning">Low Stock</span>

                        }
                    }
                    else
                    {
                        <span class="badge bg-secondary">Unknown Stock</span>
                    }
                </td>
                @*                <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
            </td>*@
                @*                <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>&nbsp; Edit
                        </a>
                        <a asp-action="Preview" asp-controller="Product" asp-route-id="@item.ProductId" class="btn btn-info text-white">
                            <i class="bi bi-eye-fill"></i>&nbsp; Preview
                        </a>
                        <a asp-action="Inventory" asp-controller="ProductInventory" asp-route-id="@item.ProductId" class="btn btn-secondary text-white">
                            <i class="bi bi-cart-plus-fill"></i>&nbsp; Inventory
                        </a>
                        <a onClick=Delete('/product/delete/@item.ProductId') class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>&nbsp; Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script src="~/js/deleteAction.js"></script>
    @*<script src="~/js/product.js"></script>*@
}