@model IEnumerable<StoreModels.Models.mEmployee>

@{
    ViewData["Title"] = "Employee Panel";
}


<div class="row">
    <div class="col-6">
        <div class="pagetitle">
            <h1>@ViewData["Title"]</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Components</li>
                    <li class="breadcrumb-item active">Breadcrumbs</li>
                </ol>
            </nav>
        </div><!-- End Breadcrumbs with a page title -->
    </div>
    <div class="col-6 text-end">
        <a asp-controller="Employee" asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-square-fill"></i>
            &nbsp; Add Employee
        </a>
    </div>
</div>

<table class="table table-sm">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.PhotoPath)
            </th>
            @* <th scope="col">
            @Html.DisplayNameFor(model => model.EmployeeId)
            </th>*@
            @* <th scope="col">
            @Html.DisplayNameFor(model => model.RoleId)
            </th>*@
            <th scope="col">
                FullName
            </th>
            @*<th scope="col">
            @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th scope="col">
            @Html.DisplayNameFor(model => model.MiddleName)
            </th>
            <th scope="col">
            @Html.DisplayNameFor(model => model.LastName)
            </th>*@

            @*  <th scope="col">
            @Html.DisplayNameFor(model => model.NationalNumberId)
            </th>*@
            <th scope="col">
                CUI
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.LoginId)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row" class="p-2"><a href="@item.PhotoPath"><img src='@item.PhotoPath' alt="" height="150" width="150"></a></th>
                @*                <td>
            @Html.DisplayFor(modelItem => item.EmployeeId)
            </td>*@
                @*                <td>

            </td>*@
                <td>
                    @Html.DisplayFor(modelItem =>  item.FirstName)
                    @Html.DisplayFor(modelItem => item.MiddleName)
                    @Html.DisplayFor(modelItem => item.LastName)
                    <br>
                    @if (item.RoleId != 1)
                    {
                        <span class="badge bg-success">Admin</span>
                    }
                    else
                    {
                        <span class="badge bg-primary">Employee</span>
                    }
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.LastName)
            </td>*@

                <td>
                    @Html.DisplayFor(modelItem => item.NationalNumberId)
                </td>
                <td>
                    @item.BirthDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginId)
                </td>
                <td>
                    <input type="password" value="@item.Password" id='@item.EmployeeId' class="form-control" disabled>
                    <input type="checkbox" onclick=myFunction(@item.EmployeeId) class="form-check-input" id="@item.EmployeeId'i'">
                    <label class="form-check-label" for="@item.EmployeeId'i'">
                        Show Password
                    </label>
                    @*@Html.DisplayFor(modelItem => item.Password)*@
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.PhotoFileName)
            </td>
            <td>
            @Html.DisplayFor(modelItem => item.PhotoExtension)
            </td>*@
                @*                <td>
            @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>*@
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.EmployeeId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i>&nbsp; Edit
                        </a>
                        <a onClick=Delete('/employee/delete/@item.EmployeeId') class="btn btn-danger">
                            <i class="bi bi-trash-fill"></i>&nbsp; Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function myFunction(inputId) {
            var x = document.getElementById(inputId);
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>
    <script src="~/js/deleteAction.js"></script>
}

