@model IEnumerable<ClasificacionPeliculas.Models.Movie>

@{
    ViewData["Title"] = "Estadísticas";
}

<section class="section">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">@ViewData["Title"]</div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Rating)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Votes)
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Rating)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Votes)
                                    </td>

                                    <td>                                        
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Detalles</a>                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="card-footer">
                        <a asp-action="Create" asp-controller="Votes" class="btn btn-success">Votar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gráfica de Pie</h5>

                    <!-- Pie Chart -->
                    <div id="pieChart" style="min-height: 400px;" class="echart"></div>

                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                            $.ajax({
                                type: "Get",
                                url: "/Movies/GetRatings",
                                success: function (response) {
                                    echarts.init(document.querySelector("#pieChart")).setOption({
                                        title: {
                                            text: 'Movies Rating',
                                            subtext: 'Users Data',
                                            left: 'center'
                                        },
                                        tooltip: {
                                            trigger: 'item'
                                        },
                                        legend: {
                                            orient: 'vertical',
                                            left: 'left'
                                        },
                                        series: [{
                                            name: 'Access From',
                                            type: 'pie',
                                            radius: '50%',
                                            data: response,
                                            emphasis: {
                                                itemStyle: {
                                                    shadowBlur: 10,
                                                    shadowOffsetX: 0,
                                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                                }
                                            }
                                        }]
                                    });
                                }
                            })
                        });
                    </script>
                    <!-- End Pie Chart -->
                </div>
            </div>
        </div>
    </div>
</section>